html{
    background-color: #8002e2;   
}

body {
    font-family: "arial";
    color: white;
}

p {
    overflow: hidden;
}

h1 {
    text-align: center;
    background-color: #490280;
    padding: 20px;
}

footer {
    position: absolute;
    bottom: 50px; 
    left: 50px;
}

img {
    max-height: 100px;
}

#gift {
  height: 100px;
  position: absolute;
}